*/5 * * * * $HOME/bin/autogit $HOME/git/notes >> $HOME/.cron-logs 2>&1
  
*/1 * * * * (. $HOME/cron.env.sh; $HOME/bin/keepalive tiddlywiki "tiddlywiki $HOME/git/notes --listen host=0.0.0.0 port=8090" >> $HOME/.cron-logs 2>&1)
